main{
    padding: 150px 0;
}


/* BLOG */

.blog{
    max-width: 800px;
    box-shadow: 0 0 7px rgb(197, 197, 197);
    padding: 20px;
    box-sizing: border-box;
    flex-basis: 150px;
    margin: 20px auto;
}

.blog .blog-title{
    text-align: center;
    font-size: 30px;
}

.blog .blog-image{
    margin-top: 20px;
    width: 100%;
}

.blog .blog-body{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

.blog .block-author{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.blog .author{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog .author-image{
    width: 70px;
}

.blog .name{
    margin-left: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: rgb(32, 32, 32);
}

.blog .date{
    margin: 0;
    font-size: 14px;
    color: rgb(163, 163, 163);
}