{% extends 'books/base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'blogs/css/style-blogs.css' %}">
    <link rel="stylesheet" href="{% static 'blogs/css/style-one-blog.css' %}">
    <link rel="stylesheet" href="{% static 'blogs/css/style-paginator.css' %}">
    <link rel="stylesheet" href="{% static 'likes/css/style-like.css' %}">
{% endblock %}


{% block content %}
    <main>
        <div class="container">
            <div class="first-block">
                {% include 'blogs/filters.html' with title='Блог' name_object=blogs %}
                <div class="blogs">
                    {% if blogs %}
                        {% for blog in blogs %}
                            {% include 'blogs/one-blog.html' %}
                        {% endfor %}
                    {% else %}
                        <p class="blogs-none">Статей пока нет</p>
                    {% endif %}
                </div>
            </div>
            {% include 'blogs/paginator.html' %}
        </div>
    </main>
{% endblock %}