{% extends 'books/base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'blogs/css/style-blog.css' %}">
{% endblock %}


{% block content %}
    <main>
        <div class="container">
            <div class="blog">
                <h3 class="blog-title">{{ blog.title }}</h3>
                <img src="{{ blog.image.url }}" alt="Фото" class="blog-image">
                <p class="blog-body">{{ blog.description }}</p>
                <div class="block-author">
                    <div class="author">
                        <a href="{% url 'user' blog.author.username %}">
                            <img src="{{ blog.author.image.url }}" alt="Фото" class="author-image">
                        </a>
                        <a href="{% url 'user' blog.author.username %}" class="name">{{ blog.author.username }}</a>
                    </div>
                    <p class="date">{{ blog.create_date }}</p>
                </div>
                <hr>
                <div class="comments">
                    <div class="block-comment">
                        <div class="author">
                            <a href="account.html">
                                <img src="images/avatar_icon.png" alt="">
                            </a>
                            <h3><a href="account.html">Имя</a></h3>
                            <p>dd.mm.YYYY</p>
                        </div>
                        <p class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                    <div class="block-comment">
                        <div class="author">
                            <a href="account.html">
                                <img src="images/avatar_icon.png" alt="">
                            </a>
                            <h3><a href="account.html">Имя</a></h3>
                            <p>dd.mm.YYYY</p>
                        </div>
                        <p class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                    <p class="show">----- Показать ещё -----</p>
                    <div class="block-comment back">
                        <div class="author">
                            <a href="account.html">
                                <img src="images/avatar_icon.png" alt="">
                            </a>
                            <h3><a href="account.html">Имя</a></h3>
                            <p>dd.mm.YYYY</p>
                        </div>
                        <p class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                    <div class="block-comment back">
                        <div class="author">
                            <a href="account.html">
                                <img src="images/avatar_icon.png" alt="">
                            </a>
                            <h3><a href="account.html">Имя</a></h3>
                            <p>dd.mm.YYYY</p>
                        </div>
                        <p class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <form action="" method="post">
                    <p>
                        <input type="text" placeholder="Комментарий">
                    </p>
                    <p>
                        <input type="submit" value="Отправить">
                    </p>
                </form>
            </div>
        </div>
    </main>
{% endblock %}