{% extends 'books/base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'blogs/css/style-blog.css' %}">
    <link rel="stylesheet" href="{% static 'comments/css/style-comments.css' %}">
{% endblock %}


{% block content %}
    <main>
        <div class="container">
            <div class="blog">
                <h3 class="blog-title">{{ blog.title }}</h3>
                <img src="{{ blog.image.url }}" alt="Фото" class="blog-image">
                <p class="blog-body">{{ blog.description }}</p>
                <div class="block-author">
                    <div class="author">
                        <a href="{% url 'user' blog.author.username %}">
                            <img src="{{ blog.author.image.url }}" alt="Фото" class="author-image">
                        </a>
                        <a href="{% url 'user' blog.author.username %}" class="name">{{ blog.author.username }}</a>
                    </div>
                    <p class="date">{{ blog.create_date|date:'d.m.Y H:i' }}</p>
                </div>
                {% include 'comments/get-comments.html' with name_object=blog %}
            </div>
        </div>
    </main>
{% endblock %}