<div class="blog">
    {% if flag == 'user_blogs' and user == request.user %}
        <form method="get" class="but-delete">
            <input type="hidden" name="delete" value="{{ blog.pk }}">
            <input type="submit" value="X" title="Удалить блог" class="blog-delete">
        </form>
    {% endif %}
    <h3 class="blog-title">
        <a href="{% url 'blog' blog.slug %}" class="blog-link">{{ blog.title }}</a>
    </h3>
    <a href="{% url 'blog' blog.slug %}">
        <img src="{{ blog.image.url }}" alt="Фото" class="blog-img">
    </a>
    <p class="blog-body">{{ blog.blog|truncatechars:500 }}</p>
    <div class="block-author">
        <div class="author">
            <a href="{% url 'user' blog.user.slug %}">
                <img src="{{ blog.user.image.url }}" alt="Фото" class="author-avatar">
            </a>
            <a href="{% url 'user' blog.user.slug %}" class="blog-name">{{ blog.user.username }}</a>
        </div>
        <p class="date">{{ blog.create_date|date:'d.m.Y H:i' }}</p>
    </div>
</div>
