/* КНИГИ */

.books .book{
    box-shadow: 0 0 7px rgb(197, 197, 197);
    padding: 20px;
    box-sizing: border-box;
    flex-basis: 150px;
    margin-top: 20px;
    position: relative;
}

.books .book-img{
    width: 100%;
}

.books .book-link{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
}

.books .book-author{
    font-size: 12px;
    color: gray;
    margin: 10px 0 70px;
}