.but{
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.book-add, .book-delete, .add{
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 18px;
    box-sizing: border-box;
    border-radius: 3px;
    text-decoration: none;
    font-size: 12px;
    background-color: rgb(67, 67, 67);
    border: 1px solid rgb(67, 67, 67);
    color: white;
}

.book-add{
    background-color: white;
    border: 1px solid green;
    color: green;
}

.book-delete{
    background-color: white;
    border: 1px solid red;
    color: red;
}

.add:hover{
    background-color: black;
    cursor: pointer;
}

.book-add:hover{
    background-color: rgba(0, 128, 0, 0.2);
    cursor: pointer;
}

.book-delete:hover{
    background-color: rgba(255, 0, 0, 0.2);
    cursor: pointer;
}
