.books .but{
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.books .book-add{
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 18px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid green;
    border-radius: 3px;
    text-decoration: none;
    color: green;
    font-size: 12px;
}

.books .book-delete{
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 18px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid red;
    border-radius: 3px;
    text-decoration: none;
    color: red;
    font-size: 12px;
}

.books .book-add:hover{
    background-color: rgba(0, 128, 0, 0.2);
}

.books .book-delete:hover{
    background-color: rgba(255, 0, 0, 0.2);
}