.but{
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.book-add, .book-delete, .add-review{
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 18px;
    box-sizing: border-box;
    border-radius: 3px;
    text-decoration: none;
    font-size: 12px;
    background-color: rgb(67, 67, 67);
    border: 1px solid rgb(67, 67, 67);
    color: white;
}

.book-add:hover, .book-delete:hover, .add-review:hover{
    background-color: black;
}
