{% extends 'books/base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'users/css/style-profile.css' %}">
{% endblock %}


{% block content %}
    <main>
        <div class="container">
            {% include 'users/nav-profile.html' %}
            <div class="profile-block">
                <div>
                    <a href="{{ user.image.url }}" target="_blank">
                        <img src="{{ user.image.url }}" alt="Фото" class="profile-img">
                    </a>
                </div>
                <div class="block-info">
                    <h2>Анкета</h2>
                    {% if user.first_name %}
                        <p class="info-p">
                            <span class="info-span">Имя:</span> {{ user.first_name }}
                        </p>
                    {% endif %}
                    {% if user.last_name %}
                        <p class="info-p">
                            <span class="info-span">Фамилия:</span> {{ user.last_name }}
                        </p>
                    {% endif %}
                    <p class="info-p">
                        <span class="info-span">E-mail:</span> {{ user.email }}
                    </p>
                    {% if user.sex %}
                        <p class="info-p">
                            <span class="info-span">Пол:</span> {{ user.get_sex_display }}
                        </p>
                    {% endif %}
                    {% if user.city %}
                        <p class="info-p">
                            <span class="info-span">Город:</span> {{ user.city }}
                        </p>
                    {% endif %}
                    {% if user.date_of_birth %}
                        <p class="info-p">
                            <span class="info-span">Дата рождения:</span> {{ user.date_of_birth|date:'d.m.Y' }}
                        </p>
                    {% endif %}
                </div>
            </div>
            {% if user.about %}
                <h2 class="about-title">О себе</h2>
                <p class="description">{{ user.about }}</p>
            {% endif %}
        </div>
    </main>
{% endblock %}