{% extends 'books/base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'users/css/style-profile.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/style-edit.css' %}">
{% endblock %}


{% block content %}
    <main>
        <div class="container">
            {% include 'users/nav-profile.html' %}
            <div class="form-edit">
                <form method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="photo">
                        <img src="{{ request.user.image.url }}" alt="Фото" class="photo-img">
                        {{ form.image }}
                        <div class="form-notification">
                            <p class="form-p">Хочу получать уведомления в телеграм об обновлениях по добавленными книгам.</p>
                            <p class="form-p">(обращаем ваше внимание, что получать уведомления можно, добавившись к телеграм-боту @SimpyBot)</p>
                            <label for="{{ form.is_send_notifications.id_for_label }}">
                            {{ form.is_send_notifications }}<span class="form-span">Получать уведомления</span>
                            </label>
                        </div>
                    </div>
                    <div class="data">
                        <div class="block-message">
                            {% if form.username.errors %}
                                <p class="errorlist">Логин должен быть уникальным для каждого пользователя</p>
                            {% elif form.email.errors %}
                                {{ form.email.errors }}
                            {% endif %}
                        </div>
                        {% for field in form %}
                           {% if field.html_name != 'is_send_notifications' and field.html_name != 'image' and field.html_name != 'password' %}
                                <p class="field-title">{{ field.label }}:</p>
                                {{ field }}
                           {% endif %}
                        {% endfor %}
                        <p class="form-input">
                            <input type="submit" value="Сохранить">
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}