main .first-block{
    padding: 120px 0;
}

main .first-block .filters{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

main .first-block .filters select{
    outline: none;
    padding: 2px 5px;
    color: rgb(37, 37, 37);
}

main .first-block .second-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

main .first-block .second-block a{
    padding: 5px 15px;
    box-sizing: border-box;
    background-color: rgb(44, 44, 44);
    border-radius: 3px;
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

main .first-block .second-block a:hover{
    background-color: rgb(10, 10, 10);
}

main .blogs{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .blogs .blog{
    width: 400px;
    box-shadow: 0 0 7px rgb(197, 197, 197);
    padding: 20px;
    box-sizing: border-box;
    flex-basis: 150px;
    border-radius: 5px;
    margin-top: 20px;
    transition: all .3s linear;
    margin-top: 30px;
}

main .blogs .blog:hover{
    transform: scale(1.02);
}

main .blogs .blog h3{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

main .blogs .blog h3 a{
    text-decoration: none;
    color: rgb(77, 77, 77);
}

main .blogs .blog img{
    margin-top: 20px;
    width: 300px;
}

main .blogs .blog p{
    margin-top: 20px;
    font-size: 18px;
}

main .blogs .blog .block-author{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

main .blogs .blog .block-author .author{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .blogs .blog .block-author .author img{
    width: 70px;
}

main .blogs .blog .block-author .author .name{
    margin-left: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: rgb(32, 32, 32);
}

main .blogs .blog .block-author .date{
    margin: 0;
    color: rgb(163, 163, 163);
}

main .blogs .blog .comment{
    display: block;
    margin-top: 30px;
    font-size: 18px;
    color: gray;
}

@media(max-width: 420px){
    main .blogs .blog{
        width: 100%;
    }

    main .blogs .blog img{
        width: 200px;
    }
}