main{
    padding: 170px 0;
    background-image: url('../images/fon-login.png');
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
}

.form-login{
    margin: 0 auto;
    max-width: 600px;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgb(131, 131, 131);
    border-radius: 10px;
    background-color: white;
}

.form-login h1 {
    text-align: center;
    font-size: 34px;
    color: rgb(33, 33, 33);
    margin-bottom: 30px;
}

.form-login .form-input{
    text-align: center;
}

.form-login .form-input input:not([type=submit]), .form-login .form-input textarea, .form-login .form-input select{
    padding: 7px 12px;
    box-sizing: border-box;
    font-size: 18px;
    outline: none;
    border-radius: 3px;
    border: 1px solid rgb(90, 90, 90);
    width: 90%;
    margin-top: 20px;
}

.form-login .form-input textarea{
    resize: none;
}

.form-login .form-input input:not([type=submit]):hover, .form-login .form-input textarea:hover, .form-login .form-input select:hover, .form-login .form-input input:not([type=submit]):focus, .form-login .form-input textarea:focus, .form-login .form-input select:focus{
    background-color: rgba(0, 0, 0, 0.039);
}

.form-login .form-input input[type=submit]{
    font-size: 20px;
    padding: 5px 30px;
    border-radius: 5px;
    background-color: rgb(46, 46, 46);
    color: white;
    margin-top: 40px;
}

.form-login .form-input input[type=submit]:hover{
    background-color: black;
}

.form-link{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.form-link a{
    font-size: 18px;
    color: grey;
}

.block-message{
    text-align: center;
    font-size: 18px;
}

.block-message .text-error{
    text-align: center;
    color: red;
}

.block-message .text-success{
    text-align: center;
    color: green;
}

@media(max-width: 600px){
    .form-login .form-input input[type=text], .form-login .form-input input[type=password], .form-login .form-input input[type=date],.form-login .form-input input[type=file], .form-login .form-input textarea, .form-login .form-input select{
        width: 100%;
    }
}

@media(max-width: 480px){
    .form-login{
        padding: 20px;
        box-sizing: border-box;
    }

    .form-login h1 {
        font-size: 24px;
    }

    .form-link a{
        font-size: 14px;
    }

    .block-message{
        text-align: center;
        font-size: 14px;
    }

    .form-login .form-input input[type=submit] {
        font-size: 14px;
    }
}