main{
    background-image: url('../images/fon-login.png');
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
}

main .container{
    padding: 130px 30px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

main h1{
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 500;
}

main .nav-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

main .nav-profile ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

main .nav-profile li{
    margin-right: 20px;
}

main .nav-profile li a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(116, 116, 116);
}

main .nav-profile .active{
    color: rgb(47, 165, 32);
}

main .change{
    padding: 5px 15px;
    box-sizing: border-box;
    background-color: rgb(44, 44, 44);
    border-radius: 3px;
    text-decoration: none;
    color: white;
}

main .change:hover{
    background-color: rgb(10, 10, 10);
}


main .form-edit form{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .form-edit .photo{
    max-width: 300px;
}

main .form-edit .photo img{
    width: 100%;
}

main .form-edit .data{
    width: 500px;
}

main .form-edit form .form-input{
    text-align: center;
}

main .form-edit form .form-input input:not([type=submit]), main .form-edit form .form-input textarea, main .form-edit form .form-input select{
    padding: 7px 12px;
    box-sizing: border-box;
    font-size: 18px;
    outline: none;
    border-radius: 3px;
    border: 1px solid rgb(90, 90, 90);
    width: 90%;
    margin-top: 20px;
}

main .form-edit form .form-input textarea{
    resize: none;
}

main .form-edit form .form-input input:not([type=submit]):hover, main .form-edit form .form-input textarea:hover, main .form-edit form .form-input select:hover, main .form-edit form .form-input input:not([type=submit]):focus, main .form-edit form .form-input textarea:focus, main .form-edit form .form-input select:focus{
    background-color: rgba(0, 0, 0, 0.039);
}

main .form-edit form .form-input input[type=submit]{
    font-size: 20px;
    padding: 5px 30px;
    border-radius: 5px;
    background-color: rgb(46, 46, 46);
    color: white;
    margin-top: 40px;
}

main .form-edit form .form-input input[type=submit]:hover{
    background-color: black;
}

.block-message{
    text-align: center;
    font-size: 18px;
}

.block-message .text-error{
    text-align: center;
    color: red;
}

.block-message .text-success{
    text-align: center;
    color: green;
}

@media(max-width: 873px){
    main .form-edit .photo{
        width: 100%;
        margin: 0 auto;
    }

    main .form-edit .data{
        width: 100%;
        margin-top: 30px;
    }
}