<div class="quote">
    <div class="block-author">
        <div class="author">
            <a href="{% url 'user' quote.user.username %}">
                <img src="{{ quote.user.image.url }}" alt="Фото" class="author-img">
            </a>
            <h3 class="author-h3">
                <a href="{% url 'user' quote.user.username %}" class="author-link">{{ quote.user.username }}</a>
            </h3>
        </div>
        <p class="date">{{ quote.create_date|date:'d.m.Y H:i' }}</p>
    </div>
    <p class="quote-p">&#10077; {{ quote.text }} &#10078;</p>
    <p class="author-quote">
        {% for author in quote.book.author.all %}
            <span>{{ author.name }}</span>
        {% endfor %}
    </p>
    {% include 'comments/get-comments.html' with name_object=quote %}
</div>