{% extends 'books/base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'quotes/css/style-quotes.css' %}">
    <link rel="stylesheet" href="{% static 'quotes/css/style-one-quote.css' %}">
    <link rel="stylesheet" href="{% static 'comments/css/style-comments.css' %}">
{% endblock %}


{% block content %}
    <main>
        <div class="container">
            <div class="first-block">
                <div class="filters">
                    <div class="second-block">
                        <h1>Цитаты</h1>
                    </div>
                    <form method="get">
                        <select class="filters-select">
                                <option selected>Сортировать:</option>
                                <option>по дате ↑</option>
                                <option>по дате ↓</option>
                                <option>по рейтингу ↑</option>
                                <option>по рейтингу ↓</option>
                        </select>
                    </form>
                </div>
                <div class="quotes">
                    {% if quotes %}
                      {% for quote in quotes %}
                        {% include 'quotes/one-quote.html' %}
                      {% endfor %}
                    {% else %}
                        <p class="quotes-none">Цитат нет</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}