{% extends 'books/base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'quotes/css/style-quotes.css' %}">
    <link rel="stylesheet" href="{% static 'quotes/css/style-one-quote.css' %}">
    <link rel="stylesheet" href="{% static 'comments/css/style-comments.css' %}">
    <link rel="stylesheet" href="{% static 'likes/css/style-like.css' %}">
{% endblock %}


{% block content %}
    <main>
        <div class="container">
            <div class="first-block">
                {% include 'blogs/filters.html' with title='Цитаты' name_object=quotes %}
                <div class="quotes">
                    {% if quotes %}
                      {% for quote in quotes %}
                        {% include 'quotes/one-quote.html' %}
                      {% endfor %}
                    {% else %}
                        <p class="quotes-none">Цитат нет</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}