{% extends 'books/base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'books/css/style-book.css' %}">
{% endblock %}


{% block content %}
    <main>
        <div class="container">
            {% include 'books/nav-book.html' %}
            <div class="book-block">
                <img src="{{ book.image.url }}" alt="Книга" class="book-img">
                <div class="block-info">
                    <p class="info-p"><span class="info-span">Издательство:</span> {{ book.publishing.all.0 }}</p>
                    <p class="info-p"><span class="info-span">Переплёт:</span> {{ book.get_binding_display }}</p>
                    <p class="info-p"><span class="info-span">Год издания:</span> {{ book.year }}</p>
                    <p class="info-p"><span class="info-span">Количество страниц:</span> {{ book.pages }}</p>
                    <p class="info-p"><span class="info-span">Язык:</span> {{ book.get_language_display }}</p>
                </div>
            </div>
            <p class="description">{{ book.description }}</p>
        </div>
    </main>
{% endblock %}