<h1 class="book-title">{{ book.title }}</h1>
<h3 class="book-author">
    {% for author in book.author.all %}
        <span>{{ author.name }}</span>
    {% endfor %}
</h3>
<hr>
<div class="nav-book">
    <ul class="book-ul">
        <li class="book-li">
            <a href="{% url 'book' book.slug %}" class="book-link active">Книга</a>
        </li>
        <li class="book-li">
            <a href="{% url 'readers' book.slug %}" class="book-link">Читатели</a>
        </li>
        <li class="book-li">
            <a href="{% url 'reviews' book.slug %}" class="book-link">Отзывы</a>
        </li>
        <li class="book-li">
            <a href="quotes.html" class="book-link">Цитаты</a>
        </li>
    </ul>
    {% if user.is_authenticated %}
        <form method="get">
            {% if flag == 'book' %}
                {% if book not in user_books %}
                    <input type="hidden" name="add" value="{{ book.slug }}">
                    <input type="submit" class="book-add" value="✚&#160;&#160;Добавить">
                {% else %}
                    <input type="hidden" name="delete" value="{{ book.slug }}">
                    <input type="submit" class="book-delete" value="🗑&#160;&#160;Удалить">
                {% endif %}
            {% elif flag == 'reviews' %}
                    <a href="#" class="add-review">✚&#160;&#160;Добавить&#160;отзыв</a>
            {% endif %}
        </form>
    {% endif %}
</div>
<hr>