{% load static %}

<div class="blog">
    <h3 class="blog-title">
        <a href="blog.html" class="blog-link">Название статьи</a>
    </h3>
    <a href="blog.html">
        <img src="{% static 'books/images/blog-main.jpg' %}" alt="" class="blog-img">
    </a>
    <p class="blog-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est reprehenderit provident ea consectetur, possimus in doloremque quae placeat nisi vel amet. Libero molestiae nihil dolores, in quaerat magni accusamus officiis.</p>
    <div class="block-author">
        <div class="author">
            <a href="account.html">
                <img src="{% static 'books/images/avatar_icon.png' %}" alt="" class="author-avatar">
            </a>
            <a href="#" class="blog-name">Имя</a>
        </div>
        <p class="date">dd.mm.YYYY</p>
    </div>
</div>
