{% extends 'books/base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'books/css/style-book.css' %}">
    <link rel="stylesheet" href="{% static 'books/css/style-add-delete-book.css' %}">
    <link rel="stylesheet" href="{% static 'books/css/style-block-back.css' %}">
    <link rel="stylesheet" href="{% static 'comments/css/style-comments.css' %}">
{% endblock %}


{% block content %}
    <main>
        {% include 'books/block-back.html' %}
        <div class="container">
            {% include 'books/nav-book.html' %}
            <div class="reviews">
                {% if reviews %}
                    {% for review in reviews %}
                        <div class="review">
                            <div class="block-author">
                                <div class="author">
                                    <a href="{% url 'user' review.user.slug %}">
                                        <img src="{{ review.user.image.url }}" alt="Фото" class="author-img">
                                    </a>
                                    <h3 class="author-h3">
                                        <a href="{% url 'user' review.user.slug %}" class="author-link">{{ review.user.first_name }}</a>
                                    </h3>
                                </div>
                                <p class="review-text">{{ review.create_date|date:'d.m.Y H:i' }}</p>
                            </div>
                            <p class="review-review">{{ review.review }}</p>
                            {% include 'comments/get-comments.html' with name_object=review %}
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="review-none">Отзывов нет</p>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}