main{
    background-image: url('../images/fon-login.png');
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
}

/*main{
    padding: 170px 0 411px;
}*/

main .container{
    padding: 130px 30px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}


/* Messages */

.block-message{
    margin-top: 20px;
}

.text-success, .text-error{
    text-align: center;
    font-size: 18px;
}

.text-success{
    color: green;
}

.text-error{
    color: red;
}


/* USERNAME */

.nav-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.nav-profile .nav-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-profile .nav-li{
    margin-right: 20px;
}

.nav-profile .nav-link{
    text-decoration: none;
    font-size: 20px;
    color: rgb(116, 116, 116);
}

.nav-profile .active{
    color: rgb(47, 165, 32);
}

.add-form, .change, .exit, .add{
    padding: 5px 15px;
    box-sizing: border-box;
    background-color: rgb(44, 44, 44);
    border-radius: 3px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.p-change{
    margin-bottom: 10px;
}

.add-form:hover, .change:hover, .exit:hover{
    background-color: rgb(10, 10, 10);
}

.profile-block{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.profile-block .profile-img{
    margin-top: 30px;
    width: 200px;
}

.profile-block .status{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.profile-block .status .inweb{
    color: green;
}

.profile-block .block-info{
    margin-left: 30px;
}

.profile-block .info-p{
    font-size: 18px;
    margin-top: 10px;
}

.profile-block .info-span{
    color: rgb(150, 150, 150);
}

.about-title{
    margin-top: 30px;
}

.description{
    margin-top: 30px;
    font-size: 18px;
}



/* BOOKSHELF */

.books{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 0;
}

.none{
    margin-top: 20px;
    font-size: 20px;
    color: grey;
    font-weight: 400;
}


/* COMMENTS */


main .blogs .blog .comment{
    display: block;
    margin-top: 30px;
    font-size: 18px;
    color: gray;
}


@media(max-width: 734px){
    .profile-block{
        justify-content: center;
    }

    .profile-block .profile-img{
        width: 100%;
    }

    .profile-block .block-info{
        margin: 20px 0 0;
        width: 100%;
    }
}

@media(max-width: 380px){
    .nav-profile .nav-link{
        font-size: 16px;
    }

    .change, .exit{
        font-size: 12px;
    }
}


.quote-none{
    margin-top: 20px;
    font-size: 20px;
    color: grey;
    font-weight: 400;xxx
}