main{
    padding: 180px 0;
    background-image: url('../images/fon-login.png');
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
}

/*main{
    padding: 170px 0 411px;
}*/

.form-login{
    margin: 0 auto 100px;
    max-width: 600px;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgb(131, 131, 131);
    background-color: white;
}

.form-login .login-title{
    text-align: center;
    font-size: 30px;
    color: rgb(33, 33, 33);
    margin-bottom: 30px;
}

.form-login .form-input{
    text-align: center;
}

.form-login .input-field, .form-login select{
    font-size: 16px;
    padding: 7px 12px;
    box-sizing: border-box;
    outline: none;
    border-radius: 3px;
    border: 1px solid rgb(90, 90, 90);
    width: 90%;
    margin-top: 20px;
}

.form-login select{
    padding: 7px;
}

.form-login textarea{
    resize: none;
}

.form-login .input-field:hover, .form-login .input-field:focus{
    background-color: rgba(0, 0, 0, 0.039);
}

.form-login input[type=submit]{
    font-size: 14px;
    padding: 5px 30px;
    border-radius: 5px;
    background-color: rgb(46, 46, 46);
    color: white;
    margin-top: 40px;
}

.form-login input[type=submit]:hover{
    background-color: black;
}

.form-link{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.form-link-a{
    font-size: 16px;
    color: grey;
}

.block-message{
    text-align: center;
    font-size: 18px;
}

.block-message .text-error{
    text-align: center;
    color: red;
}

.block-message .text-success{
    text-align: center;
    color: green;
}

.errorlist{
    list-style: none;
    color: red;
    font-size: 14px;
}

@media(max-width: 600px){
    .form-login .input-field, .form-login select{
        width: 100%;
    }
}

@media(max-width: 480px){
    .form-login{
        padding: 20px;
        box-sizing: border-box;
    }

    .form-login .login-title{
        font-size: 24px;
    }

    .form-link-a{
        font-size: 14px;
    }

    .block-message{
        text-align: center;
        font-size: 14px;
    }

    .form-login input[type=submit]{
        font-size: 14px;
    }
}
